.site-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #0073e6;
  color: white;
  text-align: center;
  gap: 15px;
}

.site-header div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-logo {
  width: 60px; /* Ajuste la taille selon ton logo */
  height: auto;
  border-radius: 50%;
}

